nav {
    width: 100%;
}

.menu {
    padding: 10px;
    background-color: #FFBE0B;
}

.menu li {
    display: inline;
}

.menu-item {
    font-size: 1em;
    padding: 8px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-item:hover {
    color: white;
    background-color: #8338EC;
    border-radius: 5px;
}

.active {
    color: white;
    background-color: #8338EC;
    border-radius: 5px;
}