div {
    width: 100%;
    background-color: #FFBE0B;
    padding: 10px;   
}

.footer {
    color: #242038;
    position: fixed;
    bottom: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
}

