div {
    width: 100%;
    background-color: darkseagreen;
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
}

